.MyHome {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    background-image: url("https://i.pinimg.com/originals/96/24/cf/9624cf1d20272cf4903e8ac23ae43188.jpg");
    background-size: cover;
    color: white;
}
.Title {
    margin-left: 300px;
}
.Title span {
    color: rgb(241, 201, 19);
}
