.navbar {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    background-color: black;
    z-index: 2;
}
.navbar ul {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: auto;
    padding: 10px;
}
.navbar ul li {
    list-style: none;
    color: rgb(241, 201, 19);
    border: 2px solid rgb(241, 201, 19);
    padding: 5px 20px;
    border-radius: 20%;
}
